body {
  background-color: #333;
}

h1 {

  color: #fffdd0;

  font-size: 100px;
  font-family: courier;
  font-weight: normal;

  text-align: center;
}

h2 {

  color: #fffdd0;

  font-size: 48px;
  font-family: courier;
  font-weight: normal;

  text-align: center;
}

iframe {
  margin: 0 auto;
  display: block;
  background-color: inherit;
  border: none;

}

p1 {
  text-align: center;
  padding-left: 80px;
  color: #fffdd0;

  font-size: 24px;
  font-family: garamond;
  font-weight: normal;
}

/* This is meant to be the thing that allows the title
to be in the top right corner*/
.titlecolor {
  margin: fixed
  width: 5%;
  background-color: #fffdd0;
}

.title {
  font-size: 64px;
  font-family: courier;
  font-weight: bold;

  padding-top: 30px;
  padding-bottom: 80px;

  margin: 0;

  display: block;

  text-align: center;

  padding-right: 148px;

  border: none;

  background-color: #fffdd0;
}

.subtitle {
  margin: auto
  width: 50%;
  font-size: 24px;
  font-family: courier;
  color: #3700B3;

  padding-top: 60px;

  text-align: center;

}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fffdd0; /* cream*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  font-family: courier;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  transition: 0.3s;

}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  padding-top: 2px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  float: left;

  font-size: 64px;
  cursor: pointer;
  background-color: #fffdd0;
  color: #333;
  padding: 24px 32px;
  border: none;

}

.openbtn:hover {
  background-color: #BB86FC;
}

/* Style page content - use this if you want to push the
page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the
 style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
