body {
  background-color: #333;
}

h1 {
  color: #fffdd0;
  font-size: 100px;
  font-family: courier;
  font-weight: normal;
  text-align: center;
}

h2 {
  color: #fffdd0;
  font-size: 48px;
  font-family: courier;
  font-weight: normal;
  text-align: center;
}

iframe {
  margin: 0 auto;
  display: block;
  background-color: inherit;
  border: none;
  padding-bottom: 120px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about{
  padding-bottom: 60px;
}

p1 {
  text-align: center;
  color: #fffdd0;
  font-size: 24px;
  font-family: garamond;
  font-weight: normal;
}

.homepage {
  margin-left: 120px;
  margin-right: 120px;
  color: #fffdd0;
  font-size: 24px;
  font-family: garamond;
  font-weight: normal;

  padding-bottom: 40px;
}

.reference {
  padding-left: 60px;
  text-align: left;
  padding-bottom: 20px;
}

.reference-link {
  padding-left: 80px;
  padding-bottom: 80px;
  color: #fffdd0;
  font-size: 24px;
  font-family: garamond;
  font-weight: normal;
  height:auto;
}

.paragraph {
  height: auto;
  text-align: left;
  padding-left: 60px;
  padding bottom: 30px;
}

.bottom {
  padding-bottom: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #777;
  color: #fffdd0;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 32px;
  font-family: courier;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: #fffdd0;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fffdd0;
  font-size: 32px;
  color: #555
}

/* This is meant to be the thing that allows the title
to be in the top right corner*/
.titlecolor {
  margin: fixed width: 5%;
  background-color: #fffdd0;
  color: #333;
}

.title {
  font-size: 64px;
  font-family: courier;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 80px;
  margin: 0;
  display: block;
  text-align: center;
  padding-right: 148px;
  border: none;
  background-color: #fffdd0;
}

.subtitle {
  margin: auto width: 50%;
  font-size: 24px;
  font-family: courier;
  color: #3700B3;
  padding-top: 60px;
  text-align: center;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fffdd0;
  /* cream*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 10px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  font-family: courier;
  padding: 8px 8px 8px 64px;
  text-decoration: none;
  font-size: 42px;
  color: #555;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  padding-top: 2px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  float: left;
  font-size: 64px;
  cursor: pointer;
  background-color: #fffdd0;
  color: #333;
  padding: 24px 32px;
  border: none;
}

.openbtn:hover {
  background-color: #333;
  color: #fffdd0;
}

/* Style page content - use this if you want to push the
page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the
 style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}
